.settings-setting {
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.settings-setting span {
  margin-left: 10px;
}
.settings-setting i {
  font-size: 18px;
}
.settings-setting_cloumn:last-child {
  opacity: 0.5;
}
