.user-component,
.user-component_column:first-child {
  display: flex;
  align-items: center;
}
.user-component_avatar {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  margin-right: 15px;
}
.user-component-title {
  font-size: 17px;
  font-weight: 600;
}
.user-component-subtitle {
  font-size: 14px;
  margin-top: 5px;
  color: rgba(0.5);
}
.user-component_avatar_xl {
  width: 60px;
  height: 60px;
}
.user-component_avatar_sm {
  width: 45px;
  height: 45px;
  border-radius: 40%;
}
.user-component-title--not-bold {
  font-weight: 300;
  font-size: 18px;
}
.user-component {
  justify-content: space-between;
}
.user-component_column:last-child {
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-component_time {
  display: block;
  margin-bottom: 7px;
  margin-left: 5px;
}
.user-comonet_second {
  margin-top: 5px;
}
.user-component-mark {
  color: red;
  border-radius: 50%;
  border: 1px solid red;
  height: 11px;
  width: 11px;
  font-size: 8px;
  text-align: center;
  position: absolute;
  bottom: 0.8px;
  left: 120px;
}
.user-component-text {
  position: relative;
}
